@inherits UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@(string.IsNullOrEmpty(Umbraco.Field("pageTitle").ToString()) ? (ViewBag.Title == null ? "Kunde Portal" : ViewBag.Title + " - Kunde Portal") : Umbraco.Field("pageTitle").ToString())</title>

    @* Meta tags, stylesheets etc. *@
    @Html.Partial("_Head")

    @* Render the data from child pages into the head tag *@
    @RenderSection("HeadSection", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @*<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                     @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>*@
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @Html.Partial("_Footer")
    </div>


    @*@Scripts.Render("~/bundles/jquery")*@

    @* Place scripts in separate section named scripts and they would be rendered here *@
    @RenderSection("scripts", false)
</body>
</html>
