@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@(string.IsNullOrEmpty(Umbraco.Field("pageTitle").ToString()) ? (ViewBag.Title == null ? "Kunde Portal" : ViewBag.Title + " - Kunde Portal") : Umbraco.Field("pageTitle").ToString())</title>

    @* Meta tags, stylesheets etc. *@
    @Html.Partial("_Head")

    @* Render the data from child pages into the head tag *@
    @RenderSection("HeadSection", false)
</head>

<body class="homepage">
    @* Spinner *@
    @Html.Partial("_Spinner")
    @* Top Nav *@
    <div class="container">
        @Html.Partial("_Header")
    </div>
    @* Body *@
    <div class="container">
        @RenderBody()
    </div>
    @* Login Form *@
    <div>
        @Html.Partial("_Login")
    </div>
    <div class="container">
        @* Footer *@
        @Html.Partial("_Footer")
    </div>
    @* Scripts *@
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.prettyPhoto.js"></script>
    <script src="~/scripts/jquery.isotope.min.js"></script>
    <script src="~/scripts/spinner.js"></script>
    <script src="~/scripts/common-methods.js"></script>
    <script src="~/scripts/wow.min.js"></script>
    <script src="~/scripts/jquery.backstretch.min.js"></script>
    @* Place scripts in separate section named scripts and they would be rendered here *@
    @RenderSection("scripts", false)
</body>
</html>